.title {
  padding: 40px 0 40px 0;
  color: #fc8bcb;
}
.paragraphs {
  display: flex;
  color:white;
  text-align: left;
  font-size: 16px;
  width: 400px;
}
h1 {
  display: flex;
  justify-content: center;
  color: #fc8bcb;
  text-align: center;
  font-size: 50px;
}

h2 {
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: space-around;
  color: #fc8bcb;
  font-size: 35px;
}

img {
  height: 50px;
  margin-right: 20px;
}
.icons {
  margin-right: 10px;
  padding-left: 20px;
}
.icons_padge {
  margin-right: 10px;
  padding-left: 20px;
}

.profileimg{
  width: 300px;
  border-radius: 50px;
}

body {
  background-color: #5f7080;
  height: 150vh;
}

.aboutustext {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.aboutusnames {
  display: flex;
  justify-content: space-around;
}

.kaylee {
  height: 100px;
  width: 100px;
}
