.activityShowBody {
  margin-left: 20px;
}

button {
  border: none;
  color: black;
  background-color: #ffcd4e;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}

.cards {
  display: flex;
  margin-top: 30px;
}