.activityShowBody {
  background-color: var(--base-color);
  padding: 10px;
  height: 100vh;
}

.activityShowBody > h2 {
  font-size: 1rem;
  color: var(--primary-color);
}

.button {
  background-color: var(--secondary-color);
  color: var(--base-color);
  border: none;
  border-radius: .5rem;
  margin: 0.5rem;
}


.show_links {
  background-color: var(--base-color);
}

.activityShowBody > p {
  font-size: 1.5rem;
}