.your_profile {
  display:flex;
  color: #FFCD4E;
  padding-bottom: 30px;
}

p {
  display: flex;
  flex-direction: row;
}

.profile-image {
  justify-content: left;
  color: white;
  border-radius: 40px;
}

.profile-card{
  color: white;
}

.card_container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.pic_fields{
  display: flex;
  justify-content: space-between;
}