.headerBody {
  margin: none;
  padding: none;
}

.headerBody > ul {

  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: space-around;
  align-items: center;
}

.headerBody > li {
  font-size: 1.5rem;
}

.headerBody > ul > img {
  max-height: 3rem;
}
/* BELOW FOR MOBILE */
@media screen and (max-width:768px) {
.headerBody {
  visibility: hidden;
  visibility: collapse;
  height: 0;
  background-color: black;
}

}
