.headerBody {
  margin: none;
  padding: none;
  position: sticky;
  top: 0;
  z-index: 1;
}
.headerBody > li {
  font-size: 1.5rem;
  color: var(--base-color);
}

.headerBody > ul {
  color: var(--base-color);
  z-index: 1;
  margin: 0;
  padding: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  justify-content: space-around;
  align-items: center;
}



.headerBody > ul > img {
  max-height: 3rem;
}

.headerModal {
  z-index: 1;
}

.links {
  color: var(--base-color);
  text-decoration: none;
}

.addActivityButton {
  border: none;
  background-color: var(--secondary-color);
  color: var(--base-color);
}

/* BELOW FOR MOBILE */
@media screen and (max-width:768px) {
.headerBody {
  visibility: hidden;
  /* visibility: collapse; */
  height: 0;
  background-color: var(--secondary-color);
}

.addActivityButton {
  visibility: hidden;
  z-index: 1;
  top: 0rem;

}

.modalBackground {
  visibility: hidden;
  visibility: collapse;
  height: 0;
}


}
