:root {
  --primary-color: #d1a17b;
  --secondary-color: #888077;
  --background-color: black;
  --base-color: #e6e5da;
}

.homeBody {
  margin: none;
  padding: none;
  height: 100%;
}

h3 {
  min-height: 110px;
}
.home_background {
  padding: 10px;
  background: #e7e5da;
}

.time-frame {
  color: var(--primary-color);
}
.home_card:hover{
  transform: scale(1.07);
}

.react-multi-carousel-list {
  min-height: 30px;
}

.title {
  font-size: 1.25rem;
}

.carousel {
  z-index: 0;
}