.loginBody {
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--base-color); */
  height: 100vh;
  width: 100vw;
}
.loginBody > img {
  height: 8rem;
}

.welcomeMessage {
  max-width: 700px;
  padding-left: 20px;
  padding-right: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

.loginForm > input {
  margin: 0.25rem;
  border-style: none;
  border-radius: 0.5rem;
  padding: .5rem;
  background-color: var(--base-color);
  box-shadow: inset 0 0 0.75rem rgb(188, 188, 188);
}

.titleLogo {
  z-index: 1;
  display: flex;
  justify-content: center;
  max-height: 10rem;
  max-width: 5rem;
}

.signup {
  color: var(--primary-color);
}

.loginBody > h1 {
  color: var(--secondary-color);
}


.loginButton{
  display: flex;
  font-size: 1.25rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  margin: 0.5rem;
  color: black;
  background-color: var(--secondary-color);
  border-style: none;
  border-radius: .5rem;
  filter: var(--drop-shadow);
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.loginButton:hover {
  transition-duration: 0.1s;
  background-color: #179090a2;
}

.loginButton:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px var(--secondary-color);
}

.loginButton:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.loginButton:active {
  top: 1px;
}