




.mobileBody {
  visibility: hidden;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: var(--primary-color);
}
@media screen and (max-width:768px) {
  .mobileBody {
    visibility: visible;
    text-decoration: none;
    height: 4rem;
    background-color: var(--background-color);
  }

  .mobileBody > .navBar {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .mobileBody > .myLink {
    color: yellow;
  }


}