body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* --primary-color: #d1a17b;
  --secondary-color: #888077;
  --background-color: black;
  --base-color: #e6e5da; */
  --primary-color: #ea5353;
  --secondary-color: #179090;
  --background-color: black;
  --base-color: #f7edb7;
}
/* :root { */
  /* --primary-color: #d1a17b;
  --secondary-color: #888077;
  --background-color: black;
  --base-color: #e6e5da; */
  /* --primary-color: #dc5656;
  --secondary-color: #19485f;
  --background-color: black;
  --base-color: #e7e5da;
} */